<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Mysite-flex</title>
        <link rel="stylesheet" href="../../assets/css/reset.css">
        <link rel="stylesheet" href="../../assets/css/mysite.css">
    </head>

<!--header
    nav 
    #content빼고 태그 한번에작성됨
    #content
    aside main

    footer   -->

    
    <body>
        <div id="wrap">
            <header>
                <h1>mysite</h1>
                <ul>
                    <li>로그인</li>
                    <li>회원가입</li>
                </ul>
            </header>


            <!-- ul>li*4  li 4줄만드는 태그법 -->            
            <nav>                
                <ul>
                    <li>입사지원서</li>
                    <li>게시판</li>
                    <li>갤러리</li>
                    <li>방명록</li>
                </ul>
            </nav>
            <div id="content">content</div>
            <footer>footer</footer>
        </div>
    </body>
</html>