<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Mysite</title>
        <link rel="stylesheet" href="../../assets/css/reset.css">
        <link rel="stylesheet" href="../../assets/css/mysite.css">
        <link rel="stylesheet" href="../../assets/css/gallery.css">     
    </head>
    <!--****************레이아웃 잘잡자***************-->
    <!--****************레이아웃 잘잡자***************-->
    <body>
        <div id="wrap">
            <div id="header" class="clearfix">
                <h1>Mysite</h1>

                <ul class="clearfix">
                    <li>
                        <a href="">로그인</a>
                    </li>
                    <li>
                        <a href="">회원가입</a>
                    </li>
                </ul>
            </div>

            <div id="nav">
                <ul class="clearfix">
                    <li>입사지원</li>
                    <li>게시판</li>
                    <li>갤러리</li>
                    <li>방명록</li>
                </ul>

            </div>
            
            <div id="content2" class="clearfix">
                <div id="aside">
                    <h2>갤러리</h2>
                    <ul>
                        <li>일반갤러리</li>
                        <li>파일첨부연습</li>
                    </ul>

                </div>


                <div id="main">
                    <div id="main-head" class="clearfix">
                        <h3>일반갤러리</h3>                    
                        <ol class="clearfix">
                            <li>홈</li>
                            <li>갤러리</li>
                            <li>일반갤러리</li>
                        </ol>
                    </div>

    <!--****************레이아웃 잘잡자***************-->
    <!--****************레이아웃 잘잡자***************-->

                    <div class="btn-img">
                        <button>이미지올리기</button>
                    </div>
    
                    <div class="img-box clearfix" >
                        <div class="box">
                            <img class="img" src="../../../../강의/01html_css/mysite-사이트캡처/assets/image/Gangho-dong.jpg">
                            <span class="suk">작성자:유재석</span>
                        </div>
    
    
                        <div class="box">
                            <img class="img" src="../../../../강의/01html_css/mysite-사이트캡처/assets/image/Jeongjae-Lee.jpg">
                            <span class="suk">작성자유재석</span>
                        </div>   
    
    
                        <div class="box">
                            <img class="img" src="../../../../강의/01html_css/mysite-사이트캡처/assets/image/JeonSoMin.jpg">
                            <span class="suk">작성자유재석</span>
                        </div>
    
    
                        <div class="box">
                            <img class="img" src="../../../../강의/01html_css/mysite-사이트캡처/assets/image/JiseokJin.jpg">
                            <span class="suk">작성자유재석</span>
                        </div>
    
                        
                        <div class="box">
                            <img class="img" src="../../../../강의/01html_css/mysite-사이트캡처/assets/image/JungWooSung.jpg">
                            <span class="suk">작성자유재석</span>
                        </div> 
                    </div>

                </div>
            </div>
        
            <div id="footer">
                <p>
                    Copyright ⓒ 2025 김태석. All right reserved
                </p>
            </div>

            <!--****************레이아웃 잘잡자***************-->
            <!--****************레이아웃 잘잡자***************-->
            
        </div>

    </body>
</html>