<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Mysite</title>
        <link rel="stylesheet" href="../../assets/css/reset.css">
        <link rel="stylesheet" href="../../assets/css/mysite.css">
        <link rel="stylesheet" href="../../assets/css/board.css">       
    
    </head>

    <body>
        <div id="wrap">
            <div id="header" class="clearfix">
                <h1>Mysite</h1>

                <ul class="clearfix">
                    <li>
                        <a href="">로그인</a>
                    </li>
                    <li>
                        <a href="">회원가입</a>
                    </li>
                </ul>
            </div>

            <div id="nav">
                <ul class="clearfix">
                    <li>입사지원</li>
                    <li>게시판</li>
                    <li>갤러리</li>
                    <li>방명록</li>
                </ul>

            </div>
            
            <div id="content2" class="clearfix">
                <div id="aside">
                    <h2>게시판</h2>
                    <ul>
                        <li>일반게시판</li>
                        <li>댓글게시판</li>
                    </ul>

                </div>


                <div id="main">
                    <div id="main-head" class="clearfix">
                        <h3>일반게시판</h3>                    
                        <ol class="clearfix">
                            <li>홈</li>
                            <li>게시판</li>
                            <li>일반게시판</li>
                        </ol>
                    </div>

                


                    
                    
                    <div class="text-but">
                        <input id="txt-sc" type="text" name="" value="">
                        <button class="but-sc">검색</button>
                    </div>
                </div>

                <div id="div-ta">
                    <table>  
                        <colgroup>
                            <col style="width: 50px;">
                            <col style="width: 350px;">
                            <col style="width: 80px;">
                            <col style="width: 100px;">
                            <col style="width: 150px;">
                            <col style="width: 60px;">                
                        </colgroup>
                            
                        <!--css보다 속성값이 우선순위임-->
                        <!--속성값>아이디>클래스>요소-->


                        <thead>
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>글쓴이</th>
                                <th>조회수</th>
                                <th>작성일</th>
                                <th>2025</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>123</td>
                                <td style="text-align:left;">게시판 게시물입니다.</td>
                                <td>김태석</td>
                                <td>1232</td>
                                <td>2025-04-09</td>
                                <td>[삭제]</td>
                            </tr>

                            <tr>
                                <td>123</td>
                                <td style="text-align:left;">게시판 게시물입니다.</td>
                                <td>김태석</td>
                                <td>1232</td>
                                <td>2025-04-09</td>
                                <td>[삭제]</td>
                            </tr>

                            <tr>
                                <td>123</td>
                                <td style="text-align:left;">게시판 게시물입니다.</td>
                                <td>김태석</td>
                                <td>1232</td>
                                <td>2025-04-09</td>
                                <td>[삭제]</td>
                            </tr>

                            <tr>
                                <td>123</td>
                                <td style="text-align:left;">게시판 게시물입니다.</td>
                                <td>김태석</td>
                                <td>1232</td>
                                <td>2025-04-09</td>
                                <td>[삭제]</td>
                            </tr>

                            <tr>
                                <td>123</td>
                                <td style="text-align:left;">게시판 게시물입니다.</td>
                                <td>김태석</td>
                                <td>1232</td>
                                <td>2025-04-09</td>
                                <td>[삭제]</td>
                            </tr>

                        </tbody>

                    </table>

                    <div class="number">
                        <ol>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                            <li>7</li>
                            <li>8</li>
                            <li>9</li>
                            <li>10</li>
                        </ol>    
                    </div>

                    <button class="btn">글쓰기</button>


                </div>

                

                
            </div>

            


            <div id="footer">
                <p>
                    Copyright ⓒ 2025 김태석. All right reserved
                </p>
            </div>

        </div>
    </body>

</html>