<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Mysite</title>
        <link rel="stylesheet" href="../../assets/css/reset.css">
        <link rel="stylesheet" href="../../assets/css/mysite.css">
        <link rel="stylesheet" href="../../assets/css/gallery.css">
        <link rel="stylesheet" href="../../assets/css/list02.css">     
    </head>
    <!--****************레이아웃 잘잡자***************-->
    <!--****************레이아웃 잘잡자***************-->
    <body>
        <div id="wrap">
            <div id="header" class="clearfix">
                <h1>Mysite</h1>

                <ul class="clearfix">
                    <li>
                        <a href="">로그인</a>
                    </li>
                    <li>
                        <a href="">회원가입</a>
                    </li>
                </ul>
            </div>

            <div id="nav">
                <ul class="clearfix">
                    <li>입사지원</li>
                    <li>게시판</li>
                    <li>갤러리</li>
                    <li>방명록</li>
                </ul>
            </div>
            

            <div id="content2" class="clearfix">
                <div id="aside">
                    <h2>회원</h2>
                    <ul>
                        <li>회원정보</li>
                        <li>로그인</li>
                        <li>회원가입</li>
                    </ul>

                </div>


                <div id="main">
                    <div id="main-head" class="clearfix">
                        <h3>일반게시판</h3>                    
                        <ol class="clearfix">
                            <li>홈</li>
                            <li>회원</li>
                            <li>회원가입</li>
                        </ol>
                    </div>

    <!--****************레이아웃 잘잡자***************-->
    <!--****************레이아웃 잘잡자***************-->
                    
                    
                    <ul>
                        <li class="labelbox">
                            <label class="labelname">제목</label>
                            <input class="inputbox"  type="text" placeholder="제목을 입력해 주세요">
                        </li>
                        <li>
                            <textarea class="ateabox"></textarea>
                        </li>

                        <li class="btnbox">
                            <button class="btnmt">등록</button>
                            <button class="btnmt">취소</button>
                        </li>

                    </ul>

                    
          


                        
                     
                        


                    
                    <div id="footer" style="margin-top: 50px;">
                        <p>
                            Copyright ⓒ 2025 김태석. All right reserved
                        </p>   
                    </div>                 
                    
    </body>
</html>