<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Mysite</title>
        <link rel="stylesheet" href="../../assets/css/reset.css">
        <link rel="stylesheet" href="../../assets/css/mysite.css">
        <link rel="stylesheet" href="../../assets/css/gallery.css">
        <link rel="stylesheet" href="../../assets/css/member.css">     
    </head>
    <!--****************레이아웃 잘잡자***************-->
    <!--****************레이아웃 잘잡자***************-->
    <body>
        <div id="wrap">
            <div id="header" class="clearfix">
                <h1>Mysite</h1>

                <ul class="clearfix">
                    <li>
                        <a href="">로그인</a>
                    </li>
                    <li>
                        <a href="">회원가입</a>
                    </li>
                </ul>
            </div>

            <div id="nav">
                <ul class="clearfix">
                    <li>입사지원</li>
                    <li>게시판</li>
                    <li>갤러리</li>
                    <li>방명록</li>
                </ul>
            </div>
            

            <div id="content2" class="clearfix">
                <div id="aside">
                    <h2>회원</h2>
                    <ul>
                        <li>회원정보</li>
                        <li>로그인</li>
                        <li>회원가입</li>
                    </ul>

                </div>


                <div id="main">
                    <div id="main-head" class="clearfix">
                        <h3>회원가입</h3>                    
                        <ol class="clearfix">
                            <li>홈</li>
                            <li>회원</li>
                            <li>회원가입</li>
                        </ol>
                    </div>

    <!--****************레이아웃 잘잡자***************-->
    <!--****************레이아웃 잘잡자***************-->


                    <!--아이디-->
                    <div class="wrap">

                        <div class="group">
                            <label  class="txt-name">아이디</label>
                            <input class="txt-box1" type="text" placeholder="아이디를 입력하세요" name="" value="">
                        
                            <button>중복체크</button>
                        </div>


                        <!--비밀번호-->
                        <div class="group">
                            <label class="txt-name">패스워드</label>
                            <input class="txt-box" type="password" placeholder="비밀번호를 입력하세요" name="" value="">
                        </div>


                        <!--이름-->
                        <div class="group">
                            <label class="txt-name">이름</label>
                            <input class="txt-box" type="text" placeholder="이름을 입력하세요" name="id" value="">
                        </div>


                        <!--성별-->
                        <div>
                            <label>성별</label>
                            <input class="mg" type="radio" name="" value="">

                            <label>남</label>
                            <input class="mg" type="radio" name="" value="">

                            <label>여</label>
                            <input class="mg" type="radio" name="" value="">                              
                        </div>

                        <!--약관동의-->
                        <div>
                            <label>약관동의</label>
                            <input class="yes" type="checkbox">서비스 약관에 동의합니다.

                        </div>

                        <!--회원가입버튼-->
                        <button class="memb">회원가입</button>
                   
                    </div>






            



                    
            
                    
                   

                </div>
            </div>
        
            <div id="footer">
                <p>
                    Copyright ⓒ 2025 김태석. All right reserved
                </p>
            </div>

            <!--****************레이아웃 잘잡자***************-->
            <!--****************레이아웃 잘잡자***************-->
            

        </div>
    </body>
</html>