<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Mysite</title>
        <link rel="stylesheet" href="../../assets/css/reset.css">
        <link rel="stylesheet" href="../../assets/css/mysite.css">
        <link rel="stylesheet" href="../../assets/css/gallery.css">
        <link rel="stylesheet" href="../../assets/css/normal.css">     
    </head>
    <!--****************레이아웃 잘잡자***************-->
    <!--****************레이아웃 잘잡자***************-->
    <body>
        <div id="wrap">
            <div id="header" class="clearfix">
                <h1>Mysite</h1>

                <ul class="clearfix">
                    <li>
                        <a href="">로그인</a>
                    </li>
                    <li>
                        <a href="">회원가입</a>
                    </li>
                </ul>
            </div>

            <div id="nav">
                <ul class="clearfix">
                    <li>입사지원</li>
                    <li>게시판</li>
                    <li>갤러리</li>
                    <li>방명록</li>
                </ul>
            </div>
            

            <div id="content2" class="clearfix">
                <div id="aside">
                    <h2>회원</h2>
                    <ul>
                        <li>회원정보</li>
                        <li>로그인</li>
                        <li>회원가입</li>
                    </ul>

                </div>


                <div id="main">
                    <div id="main-head" class="clearfix">
                        <h3>회원가입</h3>                    
                        <ol class="clearfix">
                            <li>홈</li>
                            <li>회원</li>
                            <li>회원가입</li>
                        </ol>
                    </div>

    <!--****************레이아웃 잘잡자***************-->
    <!--****************레이아웃 잘잡자***************-->


                    <!--아이디-->
                    <!-- <div class="wrap"> -->
                        

                        <table class="tablecss" >
                            <colgroup>
                                <col style="width: 7%;">
                                <col style="width: 43%;"> 
                                <col style="width: 7%;">
                                <col style="width: 43%;">
                            </colgroup>


                            <tr class="tabletr1">                                
                                <td class="tablename">이름</td>                                
                                <td class="textcenter">
                                    <input class="tableinput"  type="text">
                                </td>
                                <td class="tablename">패스워드</td>
                                <td class="textcenter">
                                    <input class="tableinput"  type="text">
                                </td>
                            </tr>

                            <tr>
                                <td class="textcenter" colspan="4">
                                    <textarea class="txtarea"></textarea>
                                </td>
                            </tr>       
                            
                            <tr>
                                <td class="textcenter tdyes" colspan="4">
                                    <button class="btnyes">등록</button>
                                </td>
                            </tr>                            
                        </table>  

                        <table class="tablecss tablecss2 tablecss5" >

                            <colgroup>
                                <col style="width: 7%;">
                                <col style="width: 43%;"> 
                                <col style="width: 43%;">
                                <col style="width: 7%;">
                            </colgroup>
                            
                            <tr class="tabletr1 ">
                                <td>123112</td>
                                <td>김태석</td>
                                <td>2025-04-11</td>
                                <td>[삭제]</td>
                            </tr>

                            <tr class="tabletr1">
                                <td colspan="4">123112</td>                                
                            </tr>

                        </table>

                        <table class="tablecss tablecss3 tablecss5" >

                            <colgroup>
                                <col style="width: 7%;">
                                <col style="width: 43%;"> 
                                <col style="width: 43%;">
                                <col style="width: 7%;">
                            </colgroup>
                            
                            <tr class="tabletr1 ">
                                <td>123112</td>
                                <td>김태석</td>
                                <td>2025-04-11</td>
                                <td>[삭제]</td>
                            </tr>

                            <tr class="tabletr1">
                                <td colspan="4">123112</td>                                
                            </tr>

                        </table>


                        

                            
                        
                        
                        






                    <!-- </div> -->




                    <div id="footer" style="margin-top: 50px;">
                        <p>
                            Copyright ⓒ 2025 김태석. All right reserved
                        </p>   
                        
                    </div>   
                    
    </body>
</html>