@charset "UTF-8";  

.container{
    width: 500px;
    height: 200px;
    margin-bottom: 20px;
    border: 3px solid #000;
}

.container.row{
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    /* align-items: flex-start;  보조축*/
    /* align-items: flex-end; 보조측맨끝*/
    /* align-items: flex-end; */
    /* align-items: center; */
    /* align-items: baseline; */
    align-items: stretch; /*기본값꽉채워줌*/
}

.container.column{
    display: flex;      /*종족변경*/
    flex-direction: column; /*주측변경*/
    justify-content: flex-start; /*주측에서시작*/
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    /* align-items: baseline; */
    align-items: stretch; /*기본값꽉채워줌*/
}

.item1{
    font-size: 15px;
    border: 3px solid red;
}

.item2{
    font-size: 20px;
    border: 3px solid #0000ff;
}

.item3{
    font-size: 25px;
    border: 3px solid #00ff00;
}