@charset "UTF-8";  

.container{
    /* width: 900px; */
    height: 200px;
    margin-bottom: 20px;
    border: 3px solid #000;
}

.container.row{
    display: flex;     /*종족변경*/
    flex-direction: row; /*주측변경*/
    justify-content: flex-start; /*주측에서시작*/
    align-items: flex-start;
}

.container.column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

/* flex-grow: 1;  결과물 사이즈x 여백의사이즈임*/
/* flex-basis: 0;  초기값0으로준거임 */
.item1{
    border: 3px solid red;
    /* flex-basis: auto; */
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 1;
}

.item2{
    border: 3px solid #0000ff;
    /* flex-basis: auto; */
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 1;
}

.item3{
    border: 3px solid #00ff00;
    /* flex-basis: auto; */
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 1;
}