@charset "UTF-8";

/**************************
 * 게시판관련 페이지에서만 사용
  (리스트, 등록폼, 수정폼, 읽기)
**************************/

/* 리스트 */
/* /리스트 */

/* 등록폼 */
.text-but{
  float: right;
  margin: 15px 0px 0px 0px;
}

#div-ta{
  float: right;
  margin-top: 5px;
}

table th{
  /* width: 10px; */
  padding: 8px;    
  background-color: #808080;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000; 
}

table{    
  text-align: center;
  border-collapse: collapse;      
}

table tr{
  border-bottom: 1px solid #000;
  height: 30px;
}

.number{
  /* width: 30px; */
  width: 300px;
  /* height: 50px; */
  /* text-align: center; */
  border: 1px solid #000;
  margin: 0px auto;
  /* margin-left: 100px; */
}

.page{
  /* margin-right: 200px ; */
  margin-top: 10px;
  /* ul, ol에서 text-align center를 할 경우 li들이 가운데 정렬로 모임 */
  text-align: center; 
}

.page li {
  width: 15px;
  display: inline-block;
  /* float: left; */
}

.btn{
  float: right;
  padding: 4px 7px; 
  font-size: 10px;
  /* font-weight: bold; */
}

/* /등록폼 */

/* 수정폼 */
/* /수정폼 */

/* 읽기폼 */
/* /읽기폼 */

