@charset "UTF-8";

.btn-img{  
    text-align: right;
}


/*공통*/
/* .img-box{
    background-color: red;
} */

.img-box .box{
    margin-top: 40px;
    width: 185px;
    height: auto;
    overflow: hidden;
    border: 1px solid #808080;  
    padding: 0px 4px 9px 4px;
    float: left;      
    font-weight: bold;
}

.img-box .box .img{
    width: 190px;
}








