@charset "UTF-8";

/* 레이아웃 *****************/
body{
    font-family: "맑은 고딕";
    font-size: 12px;
    color: #000;
}

#wrap{
    width: 1000px;
    margin: 0px auto;
    /* border: 1px solid #000; */
}

#header{    
    padding: 10px 0px 10px 0px;
    /* border: 1px solid #000; */
}

#nav{    
    border: 1px solid #000;
}

#content{    
    border: 1px solid #000;
}

#footer{   
    border: 1px solid #000;
}
/* /레이아웃 *****************/


/* 해더관련 ******************/

#header h1{
    font-size: 35px;
    color: #79b30b;
    font-weight: bold;
    float: left;    
}

#header ul{
    float: right;   
    margin-top: 14px;
}

#header ul li{
    float: left;
    padding: 3px 5px 3px 5px;
    margin-left: 10px;
    border-radius: 3px; 
    background-color: #e3e3e3;
    border: 1px solid #c0c0c0;    
}

a{
    text-decoration: none; /*밑줄제거*/
    color: inherit;        /*부모색상상속*/
}

/* 해더관련 ******************/