

body{
    background-color: #808080;
    font-family: "맑은 고딕"; 
    font-size: 12px;
}

.wrap{   /*껍데기클레스에서 가로,배경을준거임*/
    width: 700px;
    background-color: #ffffff;
}

.wrap h3{   
    font-size: 18px;
    font-weight: bold;
    /* border: 1px solid #000; */
}

/* 경로표시 */
.wrap ol{
    list-style-type: none; 
    margin: 10px 0px 10px 0px;
}


.wrap ol>li{
    float: left;    
}

.wrap ol>li{
    float: left;
}

.wrap ol>li::after{
    content: ">";
    padding: 0px 5px 0px 5px;
}



/* 공통 */
.form-group{   
    margin-bottom: 10px;  
    /* border: 1px solid #000; */
}


.form-group .form-title{
    display: inline-block;
    width: 80px;
    vertical-align: top;  /*글자상단에배치 */
}

/* 게시판선택 */
.form-group #sel-board{
    width: 200px;
}
/* 제목 */
.form-group #txt-title{    
    width: 600px;
}
/* 패스워드 */
.form-group #txt-pwd{
    width: 197px;
}

/* 공개범위 */ /* 허용범위 */
.form-group input[type="radio"],
.form-group input[type="checkbox"]{
    margin-right: 10px;
}

/* 글내용 */
.form-group textarea{
    width: 400px;
    height: 70px;    
}

/* 첨부파일 */

/* 버튼그룹 */
.btn-group{
    padding: 10px;
    border-top: 1px solid #000;
    text-align: center;    
}

.btn-group button{
    width: 60px;
    height: 30px;
}

/* clearfix */

.clearfix::before, .clearfix::after {display: block; content: ""; line-height: 0;}
.clearfix::after {clear: both;}
