@charset "UTF-8";

/* 초기화 순서대로 모아두면 더편하고 좋은코드임*/
body, div,
ul, li, dl, dt, ol, 
h1, h2, h3, h4, h5, h6, 
form, input, select, fieldset, legend,
textarea, button,
p, table, th, td, tr {
    margin: 0; padding: 0;
}


body{
    background-color: #808080;
    font-family: "맑은 고딕"; 
    font-size: 12px;    
    width: 60px;
    height: 30px;
}

.wrap{   
    width: 700px;
    background-color: #ffffff;   
}

h3{   
    font-size: 18px;
    font-weight: bold;     
}

.form-group .form-title{      
    display: inline-block;
    width: 80px; 
    margin-bottom: 30px;    
    border-bottom: 1px solid #000;
}

.na123 .blood1234{
    border-bottom: 1px solid #000;
}

.form-group textarea{
    width: 685px;
    height: 70px;
}


.btn-group{
    padding: 10px;
    border-top: 1px solid #000;
    text-align: center;    
}

.btn-group button{
    width: 120px;
    height: 40px;
}


ol>li{
    list-style-type: none;   
    float: left;     
}

ol>li::after{
    content:">";     
    padding: 0px 10px;                   
}

ol>li:last-child::after{  
    content: "";
}
