<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Mysite</title>
        <link rel="stylesheet" href="../../assets/css/reset.css">
        <link rel="stylesheet" href="../../assets/css/mysite.css">
        <link rel="stylesheet" href="../../assets/css/main.css">
    </head>

    <body>
            <div id="footer">
                <p>
                    Copyright ⓒ 2025 김태석. All right reserved
                </p>
            </div>
  
    </body>

</html>